{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <script src="{% static 'js/projects.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="/projects/">{% trans 'projects' %}</a></li>
    <li class="active">{% trans 'Add Project' %}</li>
  </ol>
  <form  method="post" role="form" id="id_add_client_form">
    {% csrf_token %}          
    <label for="{{form.project_name.name}}" class="control-label">{{form.project_name.label}}</label>
    {{form.project_name}}
      {% if form.project_name.help_text %}
        <span class="help-block">{{ form.project_name.help_text }}</span>
      {% endif %}
        <div class="errorlist" id="id_project_name_errors">{{ form.project_name.errors }}</div>

    <label for="{{form.project_status.name}}" class="control-label">{{form.project_status.label}}</label>
    <div>{{form.project_status}}</div>
      {% if form.project_status.help_text %}
        <span class="help-block">{{ form.project_status.help_text }}</span>
      {% endif %}
        <div class="errorlist" id="id_project_status_errors">{{ form.project_status.errors }}</div>
    <label for="{{form.client.name}}" class="control-label">{{form.client.label}}</label>
    <div>{{form.client}}<div>
      {% if form.client.help_text %}
        <span class="help-block">{{ form.client.help_text }}</span>
      {% endif %}
        <div class="errorlist" id="id_client_errors">{{ form.client.errors }}</div>
    
    <div class="form-group">
      <button type="button" class="btn btn-primary publish">{% trans 'Save' %}</button>
    </div>
  </form>

{% endblock main %}
