{% load i18n %}
{% load humanize %}

<li>
  <div class="feed-container">
    <div class="post">

      <h3><a href="">{{ client.client_name}}</a> <small>{{ client.client_name}}</small></h3>      
    </div>
  </div>
</li>
