{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <link href="{% static 'css/clients.css' %}?v=1" rel="stylesheet">
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/clients.js' %}?v=1"></script>
{% endblock head %}

{% block main %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="page-header">
        <button type="button" class="btn btn-primary pull-right btn-compose"  onclick="window.location='/clients/add-form/'">
          <span class="glyphicon glyphicon-share-alt"></span>{% trans 'Add New Client' %}
        </button>
        <h1>{% trans 'Clients' %}</h1>
      </div>

      <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Client Name</th>
        <th>Contact Name</th>
        <th>Contact Number</th>
        <th>Actions </th>
      </tr>
    </thead>
    <tbody>
    {% for client in clients %} 
      <tr id="id_{{client.id}}">
        <td>{{ forloop.counter }}</td>
        <td>{{client.client_name}}</td>
        <td>{{client.contact_name}}</td>
        <td>{{client.contact_number}}</td>
       <td><span><a href="/clients/edit-form/{{client.id}}/">Edit</a></span>&nbsp;<a href="#"  onclick="onclick_delete_anchor('{{client.id}}')">Delete</a></td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
<div class="row">
    <div class="col-md-12">
      {% include 'paginator.html' with paginator=clients %}
    </div>
  </div>
               </div>      
    </div>
  </div>



{% endblock main %}
 